#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=JDownloader 2
Exec=/bin/sh "/workspace/mint/jd2/JDownloader2"
Icon=/workspace/mint/jd2/.install4j/JDownloader2.png
Categories=Network;Application;
